on:
  push:
    branches: [main]
  pull_request: 
    branches: [main]
jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
        - name: checkout code
          uses: actions/checkout@v2
        - name: Configure AWS credential
          uses: aws-actions/configure-aws-credentials@v1
          with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_2 }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_2 }}
            aws-region: us-east-1
            
        - name: Setup for terraform  
          uses: hashicorp/setup-terraform@v1

        - name: Terraform fmt
          id: fmt
          run: terraform fmt
          continue-on-error: false
          working-directory: ./terraform/main
      
        - uses: terraform-linters/setup-tflint@v1
          name: Setup TFLint
          with:
            tflint_version: v0.29.0
    
        - name: Show version
          run: tflint --version
    
        - name: Init TFLint
          run: tflint --init
    
        - name: Run TFLint
          run: tflint -f compact
        # - name: Terraform init
        #   run: terraform init
        #   working-directory: ./terraform/backend
        # - name: Terraform validation
        #   run: terraform validate
        #   working-directory: ./terraform/backend
        # - name: Terraform plan
        #   run: terraform plan -out terraform-backend.out
        #   continue-on-error: false
        #   working-directory: ./terraform/backend
        # - name: Terraform apply
        #   if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        #   run: terraform destroy -auto-approve -input=false
        #   continue-on-error: false
        #   working-directory: ./terraform/backend
