on:
  push:
    branches: [main]
    # paths:
    #   - "terraform/main/**"
    # paths-ignore:
    #   - 'lambda-test/**'
  pull_request:
    branches: [main]
    # paths:
    #   - "terraform/main/**"
    # paths-ignore:
    #   - 'lambda-test/**'
jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v2

      - name: Configure AWS credential
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_2 }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_2 }}
          aws-region: us-east-1

      - name: Setup for terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 0.14.3

      - name: Terraform fmt
        id: fmt
        run: terraform fmt
        continue-on-error: false
        working-directory: ./terraform/

      - name: Terraform init
        run: terraform init
        working-directory: ./terraform/main

      - name: Terraform validation
        run: terraform validate
        working-directory: ./terraform/main

      - name: Terraform apply
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: |
          terraform workspace select dev
          terraform destroy -auto-approve -input=false
        continue-on-error: false
        working-directory: ./terraform/main
