on:
  push:
    branches: [main]
  pull_request: 
    branches: [main]
jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
        - name: checkout code
          uses: actions/checkout@v2
        - name: Configure AWS credential
          uses: aws-actions/configure-aws-credentials@v1
          with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_2 }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_2 }}
            aws-region: us-east-1
        - name: Setup for terraform  
          uses: hashicorp/setup-terraform@v1
        - name: Terraform fmt
          id: fmt
          run: terraform fmt
          continue-on-error: false
          working-directory: ./terraform/main
        - name: tflint
          uses: reviewdog/action-tflint@master
          with:
            github_token: ${{ secrets.GH_TOKEN }}
            working_directory: ./terraform/main
            reporter: github-pr-review # Optional. Change reporter
            fail_on_error: "true"
            filter_mode: "nofilter"
        # - name: Terraform init
        #   run: terraform init
        #   working-directory: ./terraform/backend
        # - name: Terraform validation
        #   run: terraform validate
        #   working-directory: ./terraform/backend
        # - name: Terraform plan
        #   run: terraform plan -out terraform-backend.out
        #   continue-on-error: false
        #   working-directory: ./terraform/backend
        # - name: Terraform apply
        #   if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        #   run: terraform destroy -auto-approve -input=false
        #   continue-on-error: false
        #   working-directory: ./terraform/backend
